apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-rollouts

resources:
- argo-rollouts-ns.yaml
- https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml
